<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSharpGL" version="1.0.7.4" targetFramework="net45" />
  <package id="OpenGL.Net" version="0.8.4" targetFramework="net45" />
  <package id="OpenGL.Net.WinForms" version="0.8.4" targetFramework="net45" />
  <package id="OpenTK" version="3.1.0" targetFramework="net45" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net45" />
  <package id="SharpGL" version="2.4.1.2" targetFramework="net45" />
  <package id="SharpGL.SceneGraph" version="2.4.1.2" targetFramework="net45" />
  <package id="SharpGL.WinForms" version="2.4.1.2" targetFramework="net45" />
</packages>